{% extends 'task/base_after_login.html' %}

{% block content %}
    <div class="container">
        <h3>View Tasks</h3>
        <table class="table table-bordered">
            <tr>
                <td>S. No.</td>
                <td>Name</td>
                <td>Description</td>
                <td>Expiry Date</td>
                <td>Label</td>
                <td>Priority</td>
            </tr>

            {% for t in tasks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ t.name }}</td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.expiry }}</td>
                    <td>{{ t.label }}</td>
                    <td>{{ t.priority }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}